<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivlie7.submission">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.DetailActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.widget.FavouriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favourite_widget_info" />
        </receiver>

        <receiver
            android:name=".service.reminder.DailyReminder"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".service.reminder.UpcomingReminder"
            android:enabled="true"
            android:exported="false"/>

        <provider
            android:name=".config.DatabaseProvider"
            android:authorities="com.ivlie7.submission"
            android:exported="true"
            android:readPermission="com.ivlie7.submission.READ_DATABASE"
            android:writePermission="com.ivlie7.submission.WRITE_DATABASE" />

        <service
            android:name=".service.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>